@media only screen and (min-width: 1024px ){



.navigat:hover{
  transform: translateY(-5px);
  
}

.navigat2:hover{
  transform: translateY(-5px);
  transition: 200ms ease-in-out;
}



}

@media only screen and (min-width: 200px) , (max-width: 1022px) {
  .navigat2:hover{
    transition: 0.1s ease-in-out;
    transform: translateY(-5px);
  }

}